<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>musapp</title>
  </head>
  <body>
    <h1>{{album.album_title}}</h1>
    <h3>{{album.artist}}</h3>
    {% if error_message %}
      <p><strong>{{error_message}}</strong></p>
    {% endif %}

    <form  action="{% url 'music:favorite' album.id %}" method="post">

      {% csrf_token %}
      {% for song in album.song_set.all %}
        <input type="radio" name="song" value="{{song.id}}" id="song{{forloop.counter}}">
        <label for="song{{forloop.counter}}">
        {{song.song_title}}
        {% if song.is_favorite %}
          <p>done</p>
          <img src="music/b9b13Rd.png" alt="favorite">
        {% endif %}
      </label><br>
      {% endfor %}
      <input type="submit" value="Favorite">
    </form>
  </body>
</html>
